<div class="dating-chat">
  <div class="container">
    <h1 class="text-center">Welcome to dating chat</h1>
    <div class="user-form text-center">
      <form class="form-horizontal" *ngIf="!isUserConnected()">
        <fieldset>
          <legend>Register user to join the chat</legend>
          <div class="form-group">
              <input id="textinput" [(ngModel)]="user.name" name="textinput" type="text" placeholder="grumpy cat" class="form-control center-block input-md short-control">
          </div>
          <div class="cats">
            <h3>Select avatar</h3>
            <div  *ngFor="let cat of catsIcons; let index=index" (click)="selectAvatar(cat)" [ngClass]="{active: cat.id === user.avatar}" [class]="'cat-icon cat-icon-' + cat.id"></div>
          </div>
          <div class="input-group text-center join">
            <button class="btn btn-primary " [disabled]="!user.name" (click)="connect()">Join</button>
          </div>
        </fieldset>
      </form>
      <div class="messages">
        <div *ngFor="let message of messages" class="message-item" [ngClass]="{'right-user': user.id === message.user.id}">
            <div class="chat-item">
              <div class="user-name">
                {{message.user.name}}
              </div>
              <div [class]="'cat-icon cat-icon-' + message.user.avatar + ' small'"></div>
              <div>
                {{message.message}}
              </div>
            </div>

          <div class="chat-clear-fix"></div>
        </div>
      </div>
      <form (submit)="sendMessage()" *ngIf="isUserConnected()">
        <textarea autofocus id="messageArea" class="form-control message-input" (keypress)="processPress($event)" name="userMessage" [(ngModel)]="message"></textarea>
        <input type="submit" value="send" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
