.dating-chat {
  padding: 50px 0px;
  .cats {
    width: 630px;
    margin: auto;
  }
  .short-control {
    width: 40%;
    margin: 0px auto;
  }
  .join {
    text-align: center;
    padding-top: 25px;
    button {
      margin: 0px auto;
      cursor: pointer;
    }
  }
  .chat-clear-fix {
    clear: both;
  }
  .user-name {
    font-weight: bold;
  }
  .message-input {
    margin: 25px 0px;
  }

  .activeUser {
    color: #0f4bac;
  }
}
