<div class="dating-chat">
  <div class="container">
    <h1 class="text-center">Welcome to dating chat <span class="activeUser">{{currentUser}}</span></h1>
    <div class="user-form text-center">
      <form class="form-horizontal user-register-form" *ngIf="!isUserConnected()">
        <fieldset>
          <legend>Register user to join the chat</legend>
          <div class="form-group">
              <input id="textinput" [(ngModel)]="user.name" name="textinput" type="text" placeholder="grumpy cat" class="form-control center-block input-md short-control">
          </div>
          <div class="cats">
            <h3>Select avatar</h3>
            <div  *ngFor="let cat of catsIcons; let index=index" (click)="selectAvatar(cat)" [ngClass]="{active: cat.id === user.avatar}" [class]="'cat-icon cat-icon-' + cat.id"></div>
          </div>
          <div class="input-group text-center join">
            <button class="btn btn-primary " [disabled]="!user.name" (click)="connect()">Join</button>
          </div>
        </fieldset>
      </form>
      <div  *ngIf="isUserConnected()">
        <div class="row">
          <div class="col-md-8">
            <app-messages [messages]="messages" [user]="user"></app-messages>
            <app-message-form (onMessageEnter)="sendMessage($event)"></app-message-form>
          </div>
          <div class="col-md-4">
            <app-users-list [users]="activeUsers"></app-users-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
